name: Deprecate package

on:
  workflow_dispatch:
    inputs:
      package:
        description: The package to deprecate
        required: true
      version_range:
        description: The version range to deprecate
        required: true
      message:
        description: The deprecation message
        required: true

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

permissions: write-all

jobs:
  deprecate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Deprecate
        run: npm deprecate ${{ github.event.inputs.package }}@${{ github.event.inputs.version_range }} "${{ github.event.inputs.message }}"
